/*列表也和文章页样式*/
.container {
	width: 1000px;
	margin: 20px auto 0 auto;
}

/*文章当前位置*/
.local-content {
	position: relative;
	height: 44px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}
.local{
	margin-left:20px ;
}
.local a{
	font-size: 14px;
	line-height: 44px;
}

.content {
	position: relative;
	width: 100%;
	height: 800px;
	background-color: #fff;
}

/*左侧导航*/
.left-nav {
	width: 256px;
	float: left;
}
.left-nav ul{
	padding: 20px 18px 0 18px;
	width:220px;
}
.left-nav .left-nav-li{
	height: 38px;	
	background-color: #f5f5f5;
	margin-top: 10px;
	font-size: 14px;
	line-height: 38px;
	background-image: url(../images/leftnav_line.jpg);
	background-repeat: no-repeat;
}
.left-nav .left-nav-li:hover{
	cursor: pointer;
	background-color: #dcdcdc;
}
.left-nav .left-nav-li a{
	padding-left: 20px;
}
.left-nav .nav{
	color: #2088d2;
	background-color: #dcdcdc;
}
.left-nav .more{
	float: right;
	margin-top: 14px;
	margin-right: 12px;
}

/*内容部分*/
.right-content {
	margin-left: 256px;
	padding-top: 20px;
}

/*iframe内容*/
.list-wrap {
	width: 718px;
	height: 728px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
}
.list-wrap h2.list-title {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	background-color: #2088d2;
	text-indent: 30px;
}
.list-content {
	position: relative;
	margin: 10px 20px;
}
.navlist-01 {
	margin-bottom: 100px;	
}
.navlist-01 li {
	width: 620px;
	height: 40px;
	line-height: 40px;
	list-style: disc;
	margin-left: 40px;
	font-size: 16px;
}

.navlist-02 {
	margin-bottom: 100px;	
}
.navlist-02 li{
	width: 660px;
	margin-top: 12px;
}
.navlist-02 a{
	display: block;
	padding: 0px 15px 0px 15px;
	line-height: 38px;
	font-size: 16px;
	background:#f5f5f5 url(../images/more_gray.png) no-repeat center right 16px;
}
.navlist-02 li a:hover{
	background:#dcdcdc url(../images/more.png) no-repeat center right 16px;
}

/*列表分页*/
.list-btn {
	position: absolute;
	bottom: 35px;
	right: 40px;
	width: 500px;
}
.list-btn .first-btn,.list-btn .pre-btn,.list-btn .next-btn {
	width: 98px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #dcdcdc;
	font-size: 16px;
	display: inline-block;
	text-align: center;
}
.list-btn .first-btn:hover,.list-btn .pre-btn:hover,.list-btn .next-btn:hover {
	border: 1px solid #2088d2;
}
.list-btn .btnul ,.list-btn .btnul li{
	display: inline-block;
}