/*列表也和文章页样式*/
.container {
	width: 1000px;
	margin: 20px auto 0 auto;
}

/*文章当前位置*/
.local-content {
	position: relative;
	height: 44px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}
.local{
	margin-left:20px ;
}
.local a{
	font-size: 14px;
	line-height: 44px;
}

.content {
	position: relative;
	width: 100%;
	height: 600px;
	background-color: #fff;
}

/*左侧导航*/
.left-nav {
	width: 256px;
	float: left;
}
.left-nav ul{
	padding: 20px 18px 0 18px;
	width:220px;
}
.left-nav .left-nav-li{
	height: 38px;	
	background-color: #f5f5f5;
	margin-top: 10px;
	font-size: 14px;
	line-height: 38px;
	background-image: url(../images/leftnav_line.jpg);
	background-repeat: no-repeat;
}
.left-nav .left-nav-li:hover{
	cursor: pointer;
	background-color: #dcdcdc;
}
.left-nav .left-nav-li a{
	padding-left: 20px;
}
.left-nav .nav{
	color: #2088d2;
	background-color: #dcdcdc;
}
.left-nav .more{
	float: right;
	margin-top: 14px;
	margin-right: 12px;
}

/*内容部分*/
.right-content {
	margin-left: 256px;
}