/*子系统样式*/
.sub-wrap {
	width: 100%;
}

/*出监实训框架页*/
.sub-container {
	position: relative;
	width: 1000px;
	min-height: 400px;
	margin: 35px auto;
}
.sub-left {
	float: left;
	width: 270px;
	background-color: #fff;
	height: 700px;
}
/*左侧导航*/
.navul-left-01 {
	position: relative;
	width: 240px;
	padding-top: 20px;
	margin: 0 auto;
	border: 1px solid #a7e0fe;
}

.sub-right {
	position: relative;
	width: 700px;
	margin-left: 300px;
	background-color: #fff;
	height: 700px;
}



/*出监实训首页*/
.outPractice-wrap {
	width: 100%;
	height: 700px;
	background-color: #fff;
}
.op-img {
	width: 600px;
	height: 500px;
	padding: 60px 0 0 40px;
}