/*子系统样式*/
.sub-wrap {
	width: 100%;
}

/*出监实训框架页*/
.sub-container {
	position: relative;
	width: 1000px;
	min-height: 700px;
	margin: 35px auto;
}
.sub-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 270px;
	background-color: #fff;
	height: 700px;
	/*overflow-y: auto;*/
	z-index: 100;
}
/*左侧导航*/
.navul-left-01 {
	position: relative;
	width: 240px;
	margin: 20px auto 0 auto;
}
.navul-left-01 a {
	display: block;
}
.navli-left-01 {
	border: 1px solid #a7e0fe;
	margin-bottom: 20px;
}
.nava-left-01 {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: #2088d2;
}
.nava-left-01:hover {
	color: #fff;
}
.nav-active {
	background-color: #1162a3;
}
.navul-left-02 {
	background-color: #fafafa;
	display: none;
}
.navul-left-02 a {
	color: #516e83;
}
.navul-left-02 a:hover {
	color: #d14d24;
	background-color: #fff;
}
.navli-left-02 {
	position: relative;
}
.navli-left-02 a {
	line-height: 34px;
	text-indent: 30px;
	font-size: 16px;
}
.navli-left-02 a img {
	float: right;
	margin-right: 30px;
	margin-top: 12px;
}
.navli-left-02:hover .navul-left-03{
	display: block;
}
.navul-left-03 {
	position: absolute;
	left: 238px;
	top: 0px;
	width: 186px;
	border: 1px solid #eee;
	background-color: #fff;
	padding-left: 10px;
	display: none;
}
.navli-left-03:before {
	content: url("../images/dot.jpg");
	float: left;
	margin-right: 10px;
}
.navli-left-03 a {
	line-height: 26px;
	font-size: 14px;
	text-indent: 0px;
}

.sub-right {
	position: relative;
	width: 700px;
	margin-left: 300px;
	background-color: #fff;
	height: 700px;
	z-index: 10;
}



/*出监实训首页*/
.outPractice-wrap {
	width: 100%;
	height: 700px;
	background-color: #fff;
}
.op-img {
	width: 600px;
	height: 500px;
	padding: 60px 0 0 40px;
}

/*自助查询首页*/
.selfQuery-wrap{
	width:100%;
	background-color: #FFFFFF;
	height: 700px;
	overflow: hidden;
}
.query-content{
	width: 670px;
	height: 600px;
	border: 1px solid #cccccc;
	margin: 20px auto;
}
.query-local-content{
	width: 100%;
	height: 44px;
	line-height: 44px;	
	border-bottom:1px solid #cccccc ;
}
.query-local-content span{
	padding-left: 50px;
}
.query-local-content a{
	color: #2088d2;
}
.query-list ul{
	padding: 0px 26px;	
}
.query-list ul li{	
	width:620px;
	height: 38px;
	background-color: #f0f0f0;
	margin-top: 10px;
	background-image: url(../images/more_gray.png);
	background-repeat: no-repeat;
	background-position: center right 16px;
}
.query-list li a{	
	display: block;
	line-height: 38px;
	padding-left: 30px;
	background-image: url(../images/dot.jpg);
	background-repeat: no-repeat;
	background-position: center left 22px;
}
.query-list li:hover{
	background-color: #e0e0e0;
	background-image: url(../images/more.png);
}

/*教育资源首页*/
.techResource-wrap{
	width:100%;
	height: 700px;
	background-color: #FFFFFF;
}
.techResource-content{
	width: 670px;
	padding-top: 20px;
}
.tech-tab{
	width: 94%;
	margin: 0 auto;
	text-align: left;
}
.tech-tab th{
	line-height: 50px;
	padding-left: 40px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #dcdcdc;
}
.tech-tab th i{
	color: #999999;
	cursor: pointer;
}
.tech-tab td{
	font-size: 16px;
	color: #333333;
	line-height: 60px;
	padding-left: 40px;
	border-bottom: 1px solid #dcdcdc;
	text-overflow:ellipsis ;
	white-space: nowrap;
	overflow: hidden;
}

/*心理咨询首页*/
.psychConsult-wrap{
	width:100%;
	height: 700px;
 	overflow: hidden;
}
.psychConsult-content{
	width: 100%;
	height: 700px;
}
.psych-title{
	width: 100%;
	height: 40px;
	background-color: #2088d2;
}
.psych-title span{
	padding-left: 30px;
	line-height: 40px;
	font-size: 16px;
	color: #ffffff;
}
.intro-tip{
	width: 100%;
	height: 44px;
	line-height: 44px;
	color: #ff0000;
}
.intro-tip span{
	font-size: 16px;
	padding-left: 30px;
}
.psych-details{
	width: 100%;
	background-color: #ffffff;
	height: 615px;
}
.consult-item{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #2088d2;
}
.item{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.item li{
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #999999;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	float: left;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}
.item .li-active{
	background-color: #2088d2;
}
.video-win{
	width: 428px;
	margin: 20px auto;
}
.video-win .begin-btn{
	display: block;
	width: 184px;
	height: 30px;
	margin: 20px auto;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #ffffff;
	border: none;
	background-color:#2088d2;
	cursor: pointer;
}
.video-win .begin-btn:hover{
	background-color: #1162a3;
}

/*在线考试*/
.sub-choose{
	position: relative;
	top: 0px;
	left: 35px;
	width: 930px;
	height: 547px;
	background-color: #ffffff;
	border-top: 20px solid #ccdaf2;
	border-right: 35px solid #ccdaf2;
	border-bottom: 20px solid #ccdaf2;
	border-left: 35px solid #ccdaf2;
}
.sub-choose .exer-title{
	width: 900px;
	margin: 0 auto;
	border-bottom: 3px solid #ffb84c;
	padding-left: 20px;
}
.exer-title h3{
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
	color: #3e6078;
	padding-top: 8px;
}
.exer-title p{
	color: #676767;
	font-weight: bold;
	padding-bottom: 8px;
}
.exer-choose{
	width: 80%;
	margin: 0 auto;
}
.que-types{
	width:100%;
	overflow: hidden;
	margin-top: 25px;
}
.que-types-left{
	width: 100px;
	height: 40px;
	background-image: url(../images/orgline.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	float: left;
}
.que-types-left span{
	font-size: 18px;
	color: #3e6078;
	line-height: 40px;
}
.que-types-right{
	width: 600px;
	float: left;
}
.que-types-right li{
	width: 140px;
	height: 40px;
	float: left;
	margin-left:30px;
	margin-bottom: 20px;
	background-color: #bfbfbf;
	text-align: center;
	cursor: pointer;
}
.que-types-right li a{
	color: #ffffff;
	line-height: 40px;
}
.que-types-right li:hover{
	background-color: #2088d2;
}
.que-types-right .active,.sort-types-right .active{
	background-color: #2088d2;
}

.sort-types{
	width:100%;
	overflow: hidden;
	margin-top: 25px;
}
.sort-types-left{
	width: 100px;
	height: 40px;
	background-image: url(../images/orgline.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	float: left;
}
.sort-types-left span{
	font-size: 18px;
	color: #3e6078;
	line-height: 40px;
}
.sort-types-right{
	width: 600px;
	float: left;
}
.sort-types-right ul li{
	width: 140px;
	height: 40px;
	float: left;
	margin-left:30px;
	margin-bottom:20px;
	background-color: #bfbfbf;
	text-align: center;
	cursor: pointer;
}
.sort-types-right li a{
	color: #ffffff;
	line-height: 40px;
}
.sort-types-right li:hover{
	background-color: #2088d2;
}
.choose-btn{
	width: 100%;
	text-align: center;
}
.choose-btn .begin-btn-1{
	width: 240px;
	height: 50px;
	background-color: #2088d2;
	border: none;
	margin-top: 60px;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}
.choose-btn .begin-btn-1:hover {
	background-color: #1162a3;
}


/*视频会见*/
.sub-meeting{
	position: relative;
	top: 0px;
	left: 35px;
	width: 930px;
	height: 547px;
	background-color: #ffffff;
	border-top: 20px solid #ccdaf2;
	border-right: 35px solid #ccdaf2;
	border-bottom: 20px solid #ccdaf2;
	border-left: 35px solid #ccdaf2;
}
.meeting-title{
	width: 900px;
	margin: 0 auto;
	border-bottom: 3px solid #ffb84c;
	padding-left: 20px;
}
.meeting-title h3{
	line-height: 36px;
	font-size: 18px;
	font-weight: bold;
	color: #3e6078;
	padding-top: 8px;
}
.meeting-title p{
	color: #676767;
	font-weight: bold;
	padding-bottom: 8px;
}
.meeting-win{
	width: 100%;
	overflow: hidden;
}
.win-left{
	margin: 30px 10px 0 30px;
	float: left;
}
.win-right{
	float: left;
	margin: 30px 5px 0 5px;
}



